@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000;
    --color-secondary: #f3f3f3;
    --color-background: #fff;
		--font-family-primary: 'ProductSansMedium';
		--font-family-secondary: 'Nunito-Medium';
		--font-family-tertiary: 'Roboto-Medium';
  }

  .dark {
    --color-primary: #fff;
    --color-secondary: #23262f;
    --color-background: #000;
  }
}
